<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <div class="animated-line" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"></div>
            <h1>2019</h1>
            <p><a href="https://www.ohiowatershed.org/">Good River: Stories of the Ohio</a> connected the 25 million residents of the Ohio River watershed through stories about its beauty, history and challenges. PublicSource convened seven nonprofit newsrooms across five states to produce this project, which was a finalist in the Online News Association’s international award for collaborations.&nbsp;</p>

            <p><a href="https://www.publicsource.org/partners/">PublicSource partners</a> with more than a dozen other news organizations on a regular basis in many different ways, from allowing our stories to be republished to producing stories together.</p>

            <p>We outgrew our office! With more than a dozen people on the PublicSource team, we found a new office in a co-working space in Uptown.</p>
        </div>
    </div>
</div>