<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <div class="animated-line" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"></div>
            <h1>2017</h1>
            <p>“<a href="http://blackgirlspgh.publicsource.org/">I am a Black girl and…</a>” published, marking PublicSource’s first foray into projects with deep storytelling, standout design and community involvement.</p>

            <p>You might remember when the public first started hearing about the <a href="https://www.publicsource.org/tag/pittsburghs-lead-problem/">lead crisis</a> in the city of Pittsburgh. We were <a href="https://www.publicsource.org/who-should-be-responsible-for-replacing-pittsburghs-lead-water-pipes/">covering it closely then</a> and even <a href="https://www.publicsource.org/lead-detected-in-pittsburghs-drinking-water-on-the-rise-since-1999/">before there was much public alarm</a>.</p>

            <p>And still, in more recent years, we have been dogged about <a href="https://www.publicsource.org/pittsburgh-water-crisis-and-turnaround/">unpacking what is going on at our city’s water authority.</a>
                
            <p>“It would’ve been a nightmare. It would’ve been like Flint, Michigan, only the issue was not lead in the water. It was no water.” —” said Caren Glotfelty, a city water authority board member from 2014 to 2017, told PublicSource.</p>

        </div>
    </div>
</div>