<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <div class="animated-line" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"></div>
            <h1>2015</h1>
            <p>We embarked on an environmental reporting project that put PublicSource on the cutting edge of journalism using sensors. We provided air sensors to residents concerned about shale gas drilling in their community and scientists guided us as we monitored air pollutants before and after the shale gas pad became active.</p>

            <p>PublicSource produced its first data tool on psychotropics being prescribed to juvenile offenders as part of a larger investigative project that was named a finalist for the national Livingston Award on local reporting.</p>
        </div>
    </div>
</div>