<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <div class="animated-line" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"></div>
            <h1>2012</h1>
            <p>Right around the time Rich Fitzgerald became the Allegheny County executive, PublicSource had begun hiring full-time reporters. Some of our first stories included explaining PA’s stand-your-ground law after the killing of Trayvon Martin and coverage of veterans coming home from Iraq and Afghanistan.</p>
                
            <p>Here’s an early glimpse inside our first office on Melwood Avenue in Oakland, back when we were part of Pittsburgh Filmmakers</p>
        </div>
    </div>
</div>