<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <div class="animated-line" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"></div>
            <h1>2016</h1>
            <p>Our team of four people moved into an office on the main drag in the Allentown neighborhood. We loved coffee at Black Forge and lunch at Breakfast at Shelly’s!</p>

            <p>PublicSource made a strategic decision to focus on the Pittsburgh region as opposed to the state of Pennsylvania. We did this because we wanted to directly serve our neighbors in a more meaningful way. We bring broader context to what’s happening in your backyard.</p>
            
            <p><a href="https://www.publicsource.org/category/community-storytelling/page/21/">We started working with community members to tell their own stories</a> on important topics and experiences through first-person essays. We have since published more than 200 of these essays — and pay the writers for their work.</p>
            
            <p>The entire PublicSource team took the Fault Lines training by the Maynard Institute. The Fault Lines help us recognize how our own identities and backgrounds affect our worldviews and equip us to evaluate ourselves and our journalism for bias and representation. The Fault Lines are: race, gender, sexual orientation, class, geography and generation.</p>
        </div>
    </div>
</div>