<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <div class="animated-line" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"></div>
            <h1>2014</h1>
            <p>Our reporters have been recognized locally for their excellent work, but starting around this time, PublicSource journalism began to be recognized regionally and nationally for its excellence. Here are some examples of our award-winning work: here, here and here.

            <p>Peduto came into office, he met with PS reporters at our office. Over the years, we covered his administration closely. Some examples…</p>
        </div>
    </div>
</div>