<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <div class="animated-line" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"></div>
            <h1>2022</h1>
            <p>As Mayor Ed Gainey made history as Pittsburgh’s first Black mayor, PublicSource covered the third mayoral administration <a href="https://www.publicsource.org/gainey-inauguration-pittsburgh-mayor-2022/">since its founding</a>.</p>

            <p>The year hasn’t been slow. We’ve contended with COVID surges and <a href="https://www.publicsource.org/pittsburgh-need-to-know-fern-hollow-bridge-collapse-timeline/">a bridge collapse</a> while deeply exploring the <a href="https://apps.publicsource.org/faith-race-place/">city’s religious diversity</a>, the county’s <a href="https://www.publicsource.org/category/unbalanced/">property tax assessment</a> system and the <a href="https://www.publicsource.org/category/the-exempt-dilemma/">implications of tax exemptions</a>.&nbsp;</p>

            <p>Sure, we don’t have hundred-year legacies like some news organizations, but we celebrate each and every year we are trusted to carry out our mission of inspiring critical thinking and bold ideas through journalism rooted in facts, diverse voices and the pursuit of transparency.</p>

            <p>What’s next? We’re dedicated to not only continuing but also improving the ways we meet your information needs, surprise you and represent you. Thank you for your support!</p>

        </div>
    </div>
</div>