<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <div class="animated-line" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"></div>
            <h1>2021</h1>
            <p>One year after nationwide protests over the murder of George Floyd, we examined how local college campuses <a href="https://apps.publicsource.org/racial-justice-campuses-pittsburgh/">responded to calls for racial equity and improved diversity</a>. We heard <a href="https://www.publicsource.org/pittsburgh-students-professors-reflect-on-anti-asian-racism-aapi-activism/">concerns about anti-Asian racism</a> in the wake of a mass shooting in Atlanta and examined the <a href="https://www.publicsource.org/southwestern-pa-black-tenure-professor-pitt-cmu-diversity-race-education-higher-ed/">lack of diversity in tenured professors</a>, all part of a partnership with Open Campus.</p>

            <p>We teamed up with WESA on our yearlong <a href="https://www.publicsource.org/category/series/tenant-cities/">Tenant Cities project</a>, which revealed ongoing problems at <a href="https://www.publicsource.org/affordable-housing-mckeesport-allegheny-county-health-hi-view-midtown-plaza-tenant-council-pnc-bank/">two housing projects owned by PNC Bank</a>. Our reporting drew immediate pledges for reform and calls for action from local officials.</p>

            <p><a href="https://www.publicsource.org/clairton-city-of-prayer-portraits-illness-trauma-advocacy-resilience/">The City of Prayer project</a> gave a unique, in-depth look into the lives of residents who have America’s largest coke-producing facility in their backyard.</p>

            <p>Our team continues to search for ways to serve our community. We launched an email course on the hows and whys of Pittsburgh, entitled “Know Pittsburgh. For real.” <a href="https://www.publicsource.org/category/series/public-service-guide/">Public-service guides</a> on practical matters, like how to access water bill discounts or find scholarships, are one way we’re acting on questions and concerns we hear. And we go to community events and meetings to let people know we’re here and to come to us with questions and ideas. (If you have a group meeting you’d like one of us to speak at, reach out to info@publicsource.org!)</p>

            <p>For the second consecutive year, the Online News Association honored PublicSource with an <a href="https://awards.journalists.org/entries/publicsource-2021/">Online Journalism Award for General Excellence</a> by a micronewsroom.</p>

        </div>
    </div>
</div>