<div class="container top-margin">
  <div id="story-page">
    <div class="row">
      <div class="six columns offset-by-three">
        <div id="story-page-body">
          <h1>About</h1>
          <div class="wave-divider-inline"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: -1.25em;">
  <div class="row">
    <div class="ten columns offset-by-one">
        <div id="story-single-photo">
          <img src="https://ps-apps-assets.s3.amazonaws.com/watershed/Dam_5086+(1)+2.jpg" alt="river photo"" />
          <div class="caption">Water from the Ohio River surges outside the Emsworth Locks and Dam. (Photo by Ryan Loew/PublicSource)</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="story-page">
    <div class="row">
      <div class="six columns offset-by-three">
        <div class="story-page-body">
          <p>“I’m a resident of the Ohio River watershed.”</p>

          <p>You’ve probably heard that … never. And there are 25 million of us who could identify as its residents.</p>

          <p>Good River: Stories of the Ohio is a collaborative reporting project that will draw you closer to the waters and ecosystem that helped to build our region and sustain it to this very day.</p>

          <p>The Ohio River provides drinking water for five million people. It’s a thoroughfare of business, supporting jobs and communities. But did you know that it’s also commonly cited as the most polluted river in the United States?</p>

          <p>Good River is a series about the environment, economy and culture of the Ohio River watershed.   Journalists in seven nonprofit newsrooms – spanning five of the 15 watershed states — have been working since May to produce nonpartisan, informative journalism on the Ohio River watershed. </p>

          <p>Our journalists will share with you the beauty of the Ohio River and its watershed, exemplifying all that could be lost if the threats facing it are not addressed. The watershed faces many perils — from industrial polluters and agricultural runoff to weakening of the federal Clean Water Act and climate change. </p>

          <p>The watershed isn’t an issue for only those on one side of the aisle. Drinking water quality, livelihoods supported by the river and its tributaries, the health and future of our watershed communities — these should not be partisan issues.</p>

          <p>The project will launch with an interactive map tour of highlights along the Ohio River. Later in the project, we’ll be finding out what watershed-native wildlife graced the cameras set up by a photographer we’re working with through the National Geographic Society.</p>

          <p>We’ll be publishing multiple stories most weeks November through January.</p>

          <p>If you have comments, questions or suggestions about the Good River project, please reach out to Halle Stockton at PublicSource by emailing <a href="mailto:halle@publicsource.org">halle@publicsource.org</a> or calling 412-515-0065.</p>

          <p>To follow along the project and share stories or questions, you can text OHIO to 412-528-6575. We may feature your ‘story of the Ohio’ in the project, and we’ll do our best to get every question answered.</p>

          <p><em>(Note: Standard message rates apply and you can opt out anytime by texting STOP.)</em></p>
          <p><b>Participating newsrooms</b></p>
          <ul>
          <li><a target="_blank" href="https://www.100daysinappalachia.com/">100 days in Appalachia</a></li>
          <li><a target="_blank" href="https://www.alleghenyfront.org/">The Allegheny Front</a></li>
          <li><a target="_blank" href="https://beltmag.com/">Belt Magazine</a></li>
          <li><a target="_blank" href="https://www.ehn.org/">Environmental Health News</a></li>
          <li><a target="_blank" href="https://eyeonohio.com/">Eye on Ohio, the Ohio Center for Investigative Journalism</a></li>
          <li><a target="_blank" href="https://louisvillepublicmedia.org/">Louisville Public Media (Ohio Valley ReSource, WFPL, Kentucky Center for Investigative Reporting)</a></li>
          <li><a target="_blank" href="https://www.publicsource.org/">PublicSource</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
