<div class="container">
    <div class="row">
        <div class="six columns offset-by-three">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suspendisse faucibus interdum posuere lorem ipsum. Morbi blandit cursus risus at ultrices mi tempus. Tincidunt vitae semper quis lectus. Eget aliquet nibh praesent tristique magna sit amet purus. Curabitur gravida arcu ac tortor dignissim convallis aenean.</p>
                
            <p>Eu volutpat odio facilisis mauris sit. Volutpat maecenas volutpat blandit aliquam etiam erat. At risus viverra adipiscing at in tellus integer feugiat scelerisque. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectus. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.</p>
        </div>
    </div>
</div>
