<div class="container top-margin ">
  <div id="story-page">
    <div class="row">
      <div class="six columns offset-by-three">
          <h1><%= archives.headline %></h1>
          <div class="wave-divider"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <div id="story-page-body">
          <% archives.sections.forEach(function(section, i) { %>

            <% if(section.type == "text"){ %>
              <p> <%= t.renderMarkdown(archives.sections[i].value) %> </p>
            <% }else if(section.type == "h3"){ %>
              <h3><%= section.value %></h3>

            <% }else if(section.type == "inline-img"){ %>
              <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />

            <% }else if(section.type == "groundsource"){ %>
              <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />

              <% }else if(section.type == "video"){ %>
                <div class='embed-container'>
                  <iframe src='<%= section.value.videolink %>' frameborder='0' allowfullscreen></iframe>
                </div>

        <% } %>

        <% }); %>

      </div>
    </div>
  </div>
</div>
