<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title><%= project.title %></title>

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/logo-white-150x.png" />
<link rel="icon" sizes="96x96" href="/assets/logo-white-150x.png" />
<link rel="icon" sizes="32x32" href="/assets/logo-white-150x.png" />
<link rel="icon" sizes="19x19" href="/assets/logo-white-150x.png" />

<!-- Safari, you're the worst -->
<meta name='format-detection' content='telephone=no'>

<% if (!project.embedded) { %>

<!-- BEGIN TWITTER SUMMARY CARD -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= project.title %>">
<meta name="twitter:url" content="<%= project.url %>">
<meta name="twitter:image" content="<%= project.image %>">
<meta name="twitter:description" content="<%= project.description %>">

<!-- Social sharing meta -->
<meta property="og:type" content="article">
<meta property="og:title" content="<%= project.title %>">
<meta property="og:site_name" content="10 years of PublicSource">
<meta property="og:url" content="<%= project.url %>">
<meta property="og:image" content="<%= project.image %>">
<meta property="og:description" content="<%= project.description %>">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/assets/images/favicon.png">

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/ddd1535883.js" crossorigin="anonymous"></script>

<!-- Fonts -->
<link rel="stylesheet" href="https://use.typekit.net/hph4ujk.css">


<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

<%
// if !project.embedded...
}
%>