<div id="intro-about">
  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <h1 style="text-align:left">Good River is a series about the environment, economy and culture of the Ohio River watershed.<br><br>
          Journalists in seven nonprofit newsrooms – spanning five of the 15 watershed states — have been working since May to produce nonpartisan, informative journalism on the Ohio River watershed.
        </h1>
        <p id="intro-click" style="margin-bottom: .5em;"><a id="moveDown" style="color: black;">Click arrow to advance</a></p>
        <a id="moveDown" style="color: black;"><i class="fal fa-chevron-down fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>
