<div id="river-intro">
  <video loop muted data-autoplay>
    <source src="https://ps-apps-assets.s3.amazonaws.com/watershed/GoodRiver_coverloop_2.mp4" type="video/mp4">
    <img src="https://ps-apps-assets.s3.amazonaws.com/watershed/Dam_5086+(1)+2.jpg" alt="river photo" />
  </video>
  <div class="layer" id="intro-text">
    <h1 class="animated fadeInDown delay-1s">GOOD RIVER</h1>
    <h2 class="animated fadeInUp delay-1s">STORIES OF THE OHIO</h2>
    <a class="animated fadeInUp delay-2s" id="moveDown" style="color: white;"><i class="fal fa-chevron-down fa-lg"></i></a>
  </div>
</div>
