<div id="main-nav" class="row">
  <div id="title-logo" class="four columns">
    <div class="logo"><a href="#"><img src="/assets/logo-white-150x.png" alt="Watershed logo"></a></div>
    <div class="title"><a href="#">STORIES OF THE OHIO</a></div>
  </div>

  <nav class="eight columns">
    <span><a href="story.html">STORIES</a></span>
    <span><a href="#">ABOUT</a></span>
    <span><a href="#facts" id="mn-facts">FACTS</a></span>
    <span><a href="#map" id="mn-map">MAP</a></span>
    <span><a href="#partners" id="mn-partners">PARTNERS</a></span>
  </nav>
</div>
