<div id="main-nav" class="row">
  <div id="title-logo" class="four columns">
    <div class="logo"><a href="#"><img src="/assets/logo-white-150x.png" alt="Watershed logo"></a></div>
    <div class="title"><a href="#">STORIES OF THE OHIO</a></div>
  </div>

  <nav class="eight columns">
    <span><a href="story.html">STORIES</a></span>
    <span><a href="about.html">ABOUT</a></span>
    <span><a href="facts.html">FACTS</a></span>
    <span><a href="map.html">MAP</a></span>
    <span><a href="partners.html">PARTNERS</a></span>
  </nav>
</div>
