<div class="container top-margin ">
  <div id="story-page">
    <div class="row">
      <div class="six columns offset-by-three">
        <div id="story-page-body">
          <h1>Partners</h1>
          <div class="wave-divider-inline"></div>
          <p>Seven nonprofit newsrooms — spanning five of the 15 states in the Ohio River watershed — partnered to produce Good River: Stories of the Ohio. Click on the logos below to visit their websites and get familiar with the public-service journalism they produce on a regular basis. To learn more about this project and our collaborative reporting goals, read <a href="about.html">this introduction</a> to Good River.
          </p>
          <p>If you have comments, questions or suggestions about the Good River project, please reach out to Halle Stockton at PublicSource by emailing <a href="mailto:halle@publicsource.org">halle@publicsource.org</a> or calling 412-515-0065.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="logo-container">
  <div id="logo-grid">
    <div id="logo">
      <a target="_blank" href="https://www.100daysinappalachia.com/"><img alt="#" src="./assets/partner-logos/100days.png" /></a>
    </div>
    <div id="logo">
      <a target="_blank" href="https://www.alleghenyfront.org/"><img alt="#" src="./assets/partner-logos/af.png" /></a>
    </div>
    <div id="logo">
      <a target="_blank" href="https://beltmag.com/"> <img alt="#" src="./assets/partner-logos/belt.jpg" /></a>
    </div>
    <div id="logo">
      <a target="_blank" href="https://www.ehn.org/"><img alt="#" src="./assets/partner-logos/ehn.png" /></a>
    </div>
    <div id="logo">
      <a target="_blank" href="https://eyeonohio.com/"><img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" /></a>
    </div>
    <div id="logo">
      <a target="_blank" href="https://louisvillepublicmedia.org/"><img alt="#" src="./assets/partner-logos/lpm-logo.png" /></a>
    </div>
    <div id="logo">
      <a target="_blank" href="https://www.publicsource.org/"><img alt="#" src="./assets/partner-logos/ps-logo.png" /></a>
    </div>
  </div>
</div>
