<div class="container top-margin ">
  <div id="story-page">
    <div class="row">
      <div class="six columns offset-by-three">
        <div id="story-page-body">
          <h1>Partners</h1>
          <div class="wave-divider-inline"></div>
          <p>Seven nonprofit newsrooms — spanning five of the 15 states in the Ohio River watershed — partnered to produce Good River: Stories of the Ohio. Click on the logos below to visit their websites and get familiar with the public-service journalism they produce on a regular basis. To learn more about this project and our collaborative reporting goals, read <a href="/about.html">this introduction</a> to Good River.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="logo-container">
  <div id="logo-grid">
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/ehn.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
  </div>
</div>
