<div class="container top-margin ">
  <div id="story-page">
    <div class="row">
      <div class="six columns offset-by-three">
        <div id="story-page-body">
          <h1>Partners</h1>
          <div class="wave-divider-inline"></div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="logo-container">
  <div id="logo-grid">
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/ehn.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
    <div id="logo">
      <img alt="#" src="./assets/partner-logos/eye_on_ohio_logo.png" />
    </div>
  </div>
</div>
