<main>
  <section id='scrolly'>
  			
  	<article>
  		<div class='step' data-step='1'>
  			<p>The Ohio River runs 981 miles from Pittsburgh, Pennsylvania, to Cairo, Illinois, where it joins the Mississippi.</p>
  		</div>
  		<div class='step' data-step='2'>
  			<p>The Ohio River watershed covers 205,000 square miles across 15 states: Pennsylvania, Ohio, Kentucky, West Virginia, Indiana, Illinois, Tennessee, New York, Virginia, Maryland, Georgia, Mississippi, Alabama, North Carolina and South Carolina.</p>
  		</div>
  		<div class='step' data-step='3'>
  			<p>The Ohio is commonly cited as the most polluted river in the United States.</p>
  		</div>
  		<div class='step' data-step='4'>
  			<p>The river supplies about five million people with drinking water.</p>
  		</div>
  	</article>
  
  	<figure>
  		<img id='img1' src="./assets/scrollama-map/1572635317585.png" alt="map slide 1" class='is-visible'>
  		<img id='img2' src="./assets/scrollama-map/1572635328663.png" alt="map slide 2">
  		<img id='img3' src="./assets/scrollama-map/1572635472607.png" alt="map slide 3">
  		<img id='img4' src="./assets/scrollama-map/1572982577689.png" alt="map slide 4">
  	</figure>
  	
  </section>
</main>
