<div id="story-list">

  <nav id="secondary-links">
    <div>Other ways to explore Good River:</div>
    <a href="#map">MAP</a>
    <a href="#data">DATA</a>
    <a href="#stats">STATS</a>
    <a href="#partners">PARTNERS</a>
  </nav>
  
  <h2>STORIES</h2>

  <div id="stories" class="container">
    <% json.storyList.forEach(function(story, i) { %>
      <% if(i == 0){ %>
        <div class="row">
          <div class="one-third column">
            <img src="assets/story-images/<%= story.img_filename %>" alt="<%= story.headline %>" />
            <h3><%= story.headlines %></h3>
            <div class="authors"><%= story.authors %></div>
            <div class="org"><%= story.org %></div>
          </div>
      <% }else if(i == 3){ %>
        </div>
        <div class="row">
          <div class="one-third column">
            <img src="assets/story-images/good-river-facts.png" alt="Good River Facts" />
            <h3 class="media"><a href="facts.html">Explore facts about the Ohio River</a></h3>
          </div>
      <% }else if(i % 3 == 0){ %>
        </div>
        <div class="row">
          <div class="one-third column">
            <img src="assets/story-images/<%= story.img_filename %>" alt="<%= story.headline %>" />
            <h3><%= story.headlines %></h3>
            <div class="authors"><%= story.authors %></div>
            <div class="org"><%= story.org %></div>
          </div>
      <% }else if(i+1 == json.storyList.length){ %>
        <div class="one-third column">
          <img src="assets/story-images/<%= story.img_filename %>" alt="<%= story.headline %>" />
          <h3><%= story.headlines %></h3>
          <div class="authors"><%= story.authors %></div>
          <div class="org"><%= story.org %></div>
        </div>
        </div> <!-- This extra div closes the row-->
      <% }else{ %>
        <div class="one-third column">
          <img src="assets/story-images/<%= story.img_filename %>" alt="<%= story.headline %>" />
          <h3><%= story.headlines %></h3>
          <div class="authors"><%= story.authors %></div>
          <div class="org"><%= story.org %></div>
        </div>
      <% } %>
    <% }); %>
  </div>
    
</div>