<div id="story-list">

  <h2>STORIES</h2>

  <div id="watershed-stories" class="container">
    <% json.storyList.forEach(function(story, i) { %>
      <% if(i == 0){ %>
        <div class="row">
          <div class="one-third column">
            <img src="assets/story-images/<%= story.img_filename %>" alt="<%= story.headline %>" />
            <h3><%= story.headlines %></h3>
            <div class="authors"><%= story.authors %></div>
            <div class="org"><%= story.org %></div>
          </div>
      <% }else if(i % 3 == 0){ %>
        </div>
        <div class="row row-less-margin">
          <div class="one-third column">
            <img src="assets/story-images/<%= story.img_filename %>" alt="<%= story.headline %>" />
            <h3><%= story.headlines %></h3>
            <div class="authors"><%= story.authors %></div>
            <div class="org"><%= story.org %></div>
          </div>
      <% }else if(i+1 == json.storyList.length){ %>
        <div class="one-third column">
          <img src="assets/story-images/<%= story.img_filename %>" alt="<%= story.headline %>" />
          <h3><%= story.headlines %></h3>
          <div class="authors"><%= story.authors %></div>
          <div class="org"><%= story.org %></div>
        </div>
        </div> <!-- This extra div closes the row-->
      <% }else{ %>
        <div class="one-third column">
          <img src="assets/story-images/<%= story.img_filename %>" alt="<%= story.headline %>" />
          <h3><%= story.headlines %></h3>
          <div class="authors"><%= story.authors %></div>
          <div class="org"><%= story.org %></div>
        </div>
      <% } %>
    <% }); %>
  </div>

</div>
