<div class="container top-margin ">
  <div id="story-page">
    <div class="row">
      <div class="six columns offset-by-three">
          <h1><%= story.headline %></h1>
          <div class="wave-divider"></div>
          <div class="authors"><%= story.author %></div>
          <div class="org"><%= story.organization %></div>
          <div class="date"><%= story.pub %></div>
      </div>
    </div>
  </div>
</div>

<img width="100%" alt="#" src="<%= story.feature_img.src %>" />

<div class="container">
  <div class="row">
    <div class="six columns offset-by-three">
      <div class="caption"><%= story.feature_img.caption %></div>
    </div>
  </div>
</div>

<div class="container share-icons-container">
  <div class="row">
    <div class="six columns offset-by-three">
      <a target="_blank" href="<%= story.twitterlink.src %>"><i class="fab fa-twitter share-icons"></i></a><a target="_blank" href="<%= story.facebooklink.src %>"><i class="fab fa-facebook-f fa-lg share-icons"></i></a>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <div class="story-page-body">
          <% story.sections.forEach(function(section, i) { %>

            <% if(section.type == "text"){ %>
              <p> <%= t.renderMarkdown(story.sections[i].value) %> </p>
            <% }else if(section.type == "h2"){ %>
              <h2><%= section.value %></h2>
              <div class="wave-divider-inline"></div>

            <% }else if(section.type == "divider"){ %>
              <div class="wave-divider-middle"></div>

            <% }else if(section.type == "pullquote"){ %>
              <h3><%= section.value.text %></h3>
              <div class="wave-divider-pullquote">
                <span></span>
                <a style="background: none;" target="_blank" href="<%= section.value.twitter %>"><i class="fab fa-twitter fa-lg"></i></a>
                <a style="background: none;" target="_blank" href="<%= section.value.facebook %>"><i class="fab fa-facebook-f fa-lg"></i></a>
              </div>

            <% }else if(section.type == "inline-img"){ %>
              <img class="inline-img top-padding <%= section.value.float %>" alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
              <div class="caption"><%= section.value.caption %></div>

            <% }else if(section.type == "groundsource"){ %>
              <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />

              <% }else if(section.type == "audio"){ %>
                <p style="margin-top: 1em; margin-bottom: -.2em; text-align:center;"><b>Listen to this story</b></p>
                <audio id="player" controls>
                  <source src="<%= section.value.link %>" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>

            <% }else if(section.type == "story_photo_grid"){ %>
              </div> <!-- close story-page-body-->
              </div> <!-- close eight columns-->
              </div> <!-- close row-->
              </div> <!-- close container-->

              <div class="story-photo-grid">
                <div>
                  <img alt="#" src="<%= section.value.top_left %>" />
                </div>
                <div>
                  <img alt="#" src="<%= section.value.top_right %>" />
                </div>
              </div>
              <div class="photo-container">
                <img alt="#" src="<%= section.value.big_bottom %>" />
              </div>
              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="caption"><%= section.value.caption %></div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="story-page-body">

            <% }else if(section.type == "story_photo_grid_flip"){ %>
              </div> <!-- close story-page-body-->
              </div> <!-- close eight columns-->
              </div> <!-- close row-->
              </div> <!-- close container-->

              <div class="photo-container-flip">
                <img alt="#" src="<%= section.value.big_top %>" />
              </div>
              <div class="story-photo-grid-flip">
                <div>
                  <img alt="#" src="<%= section.value.top_left %>" />
                </div>
                <div>
                  <img alt="#" src="<%= section.value.top_right %>" />
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="caption"><%= section.value.caption %></div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="story-page-body">

            <% }else if(section.type == "story_photo_grid"){ %>
              </div> <!-- close story-page-body-->
              </div> <!-- close eight columns-->
              </div> <!-- close row-->
              </div> <!-- close container-->

              <div class="story-photo-grid">
                <div>
                  <img alt="#" src="<%= section.value.top_left %>" />
                </div>
                <div>
                  <img alt="#" src="<%= section.value.top_right %>" />
                </div>
              </div>
              <div class="photo-container">
                <img alt="#" src="<%= section.value.big_bottom %>" />
              </div>
              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="caption"><%= section.value.caption %></div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="story-page-body">

            <% }else if(section.type == "side-by-side-photo"){ %>
              </div> <!-- close story-page-body-->
              </div> <!-- close eight columns-->
              </div> <!-- close row-->
              </div> <!-- close container-->

              <div class="story-photo-grid">
                <div>
                  <img alt="#" src="<%= section.value.left %>" />
                </div>
                <div>
                  <img alt="#" src="<%= section.value.right %>" />
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="caption"><%= section.value.caption %></div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="story-page-body">

            <% }else if(section.type == "single-photo-hero"){ %>
              </div> <!-- close story-page-body-->
              </div> <!-- close eight columns-->
              </div> <!-- close row-->
              </div> <!-- close container-->

              <div class="photo-container-flip">
                <img alt="<%= section.value.alt %>" src="<%= section.value.photo %>" />
              </div>

              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="caption"><%= section.value.caption %></div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="story-page-body">

                      <% }else if(section.type == "single-photo-hero-no-top-padding"){ %>
                        </div> <!-- close story-page-body-->
                        </div> <!-- close eight columns-->
                        </div> <!-- close row-->
                        </div> <!-- close container-->

                        <div class="photo-container-flip-no-top-padding">
                          <img alt="<%= section.value.alt %>" src="<%= section.value.photo %>" />
                        </div>

                        <div class="container">
                          <div class="row">
                            <div class="six columns offset-by-three">
                              <div class="caption"><%= section.value.caption %></div>
                            </div>
                          </div>
                        </div>

                        <div class="container">
                          <div class="row">
                            <div class="six columns offset-by-three">
                              <div class="story-page-body">

            <% }else if(section.type == "single-photo-small"){ %>
              </div> <!-- close story-page-body-->
              </div> <!-- close eight columns-->
              </div> <!-- close row-->
              </div> <!-- close container-->

              <div class="container">
                <div class="row">
                  <div class="ten columns offset-by-one">
                      <div class="story-single-photo">
                        <img alt="#" src="<%= section.value.photo %>" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container">
                  <div class="row">
                    <div class="six columns offset-by-three">
                      <div class="caption"><%= t.renderMarkdown(story.sections[i].value.caption) %></div>
                    </div>
                  </div>
                </div>

              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="story-page-body">

              <% }else if(section.type == "graphic"){ %>
                </div> <!-- close story-page-body-->
                </div> <!-- close eight columns-->
                </div> <!-- close row-->
                </div> <!-- close container-->

                <div class="container">
                  <div class="row">
                    <div class="ten columns offset-by-one">
                        <h2 style="font-family: PeaceSans; font-size: 1.9em; color: black; text-align: center; line-height: 1.3; margin-top: .5em;"><%= section.value.title %></h2>
                        <div class="story-single-photo">
                          <img alt="#" src="<%= section.value.photo %>" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container">
                    <div class="row">
                      <div class="six columns offset-by-three">
                        <div class="caption"><%= t.renderMarkdown(story.sections[i].value.caption) %></div>
                      </div>
                    </div>
                  </div>

                <div class="container">
                  <div class="row">
                    <div class="six columns offset-by-three">
                      <div class="story-page-body">

                      <% }else if(section.type == "video"){ %>
                        </div> <!-- close story-page-body-->
                        </div> <!-- close eight columns-->
                        </div> <!-- close row-->
                        </div> <!-- close container-->

                        <div id="video" class="container" style="margin-top: 2em;">
                          <div class="row">
                              <div class="twelve columns">
                                <div class='embed-container'>
                                  <iframe src='<%= section.value.videolink %>' frameborder='0' allowfullscreen></iframe>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="container">
                            <div class="row">
                              <div class="six columns offset-by-three">
                                <div class="caption"><%= section.value.caption %></div>
                              </div>
                            </div>
                          </div>

                        <div class="container">
                          <div class="row">
                            <div class="six columns offset-by-three">
                              <div class="story-page-body">

            <% }else if(section.type == "parallax_img"){ %>
              </div> <!-- close story-page-body-->
              </div> <!-- close eight columns-->
              </div> <!-- close row-->
              </div> <!-- close container-->

              <div class="parallax-divider">
                <div class="block">
                  <img src="<%= section.value.src %>" data-speed="-1" class="img-parallax" />
                  <img alt="#" src="https://ps-apps-assets.s3.amazonaws.com/watershed/wavy-lines-v3.png" />
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three">
                    <div class="story-page-body">

            <% }else if(section.type == "more_stories"){ %>
              </div> <!-- close story-page-body-->
              </div> <!-- close eight columns-->
              </div> <!-- close row-->
              </div> <!-- close container-->

              <% if(storyList.length < 6){ %>
                <div class="container more-stories shortie">
              <% }else{ %>
                <div class="container more-stories">
              <% } %>
                  <h2>MORE STORIES</h2>
                  <div class="story-btns">
                    <a class="slider-btn" id="slider-prev" href="#"><i class="fas fa-angle-double-left fa-lg"></i></a>
                    <a class="slider-btn" id="slider-next" href="#"><i class="fas fa-angle-double-right fa-lg"></i></a>
                  </div>
                </div>

              <div class="container more-stories-container" id="sliderContainer">
                <div class="more-stories-row" id="slider">
                  <% storyList.forEach(function(slide, i) { %>

                    <% if(slide.story_id != section.value){ %>
                      <% if(storyList.length == 4){ %>
                        <div class="more-stories-story three-story">
                          <a href="<%= slide.link %>"><img src="assets/story-images/<%= slide.img_filename %>" alt="<%= slide.headline %>" /></a>
                          <h3><a href="<%= slide.link %>"><%= slide.headlines %></a></h3>
                        </div>
                      <% }else{ %>
                        <div class="more-stories-story">
                          <a href="<%= slide.link %>"><img src="assets/story-images/<%= slide.img_filename %>" alt="<%= slide.headline %>" /></a>
                          <h3><a href="<%= slide.link %>"><%= slide.headlines %></a></h3>
                        </div>
                      <% } %>
                    <% }%>
                  <% }); %>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="six columns offset-by-three" style="margin-top: -1.5em !important;">
                    <div class="story-page-body">


            <% } %>

          <% }); %>
      </div>
    </div>
  </div>
</div>

<script>
  var sliderContainer,slider,sliderWidth,sliderNext,sliderPrev,translate;

  function getSliderSizes(){
    sliderContainer = document.getElementById('sliderContainer');
    slider = document.getElementById('slider');
    imgWidth = sliderContainer.clientWidth;
    sliderWidth = sliderContainer.scrollWidth - imgWidth;

    sliderNext = document.getElementById('slider-next');
    sliderPrev = document.getElementById('slider-prev');

    translate = 0;
  }

  document.addEventListener('DOMContentLoaded', function(e){
    getSliderSizes();

    sliderNext.addEventListener('click', function(e){
      e.preventDefault();
      console.log('sliderWidth: ', sliderWidth);
      console.log('translate: ', translate);
      if(Math.abs(translate) < sliderWidth){
        translate -= imgWidth;
        slider.style.transform = "translateX(" + translate + "px" + ")";
      }
    });

    sliderPrev.addEventListener('click', function(e){
      e.preventDefault();
      console.log('sliderWidth: ', sliderWidth);
      console.log('translate: ', translate);
      if(translate < 0){
        translate += imgWidth;
        slider.style.transform = "translateX(" + translate + "px" + ")";
      }
    });
  });

  window.addEventListener('resize', getSliderSizes);
</script>
