@import "values";
@import "skeleton";
@import "normalize";
@import "nav";
@import "intro";
@import "text";
@import "footer";
@import "cutout";


//defensive coding
* {
  //border-box, you're the best
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  //Safari, you're the worst
  -webkit-tap-highlight-color: transparent;
}

//elements
body {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-size: 21.25px;
  color: #000000;
  line-height: 1.4;
  background-color: #edf0f6;
}

.section{
  // position:relative;
  padding: 1rem 0 2rem;
}

.vl {
  border-left: 1px solid black;
  height: 500px;
}

.animated-line {
  margin:0 auto;
  width:2px;
  height:200px;
  overflow:hidden;
  background:#5271ae;
  position:relative;
}

.animated-line::before {
  content:'';
  display:block;
  width:2px;
  height:200px;
  background:black;
  position:absolute;
  top:-100%;
  left:0;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0% { top: -100%; }
  50% { top: 0; }
  100% { top: 100%; }
}


img, svg {
  max-width: 100%;
}

h1 {
  font-size: 4em;
  font-family: mallory, sans-serif;
  font-weight: 800;
  text-align: center;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.2em;
}

a, a:visited {
  color: @accent-dark;
}

a:hover, a:active, a:focus {
  color: black;
}

img:not([alt]) {
  outline: 3px solid red;
}
