.section{
  position:relative;
}

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display:none !important;
}

/*solves problem with overflowing video in Mac with Chrome */
#river-intro{
  overflow: hidden;
  text-align: center;
  color:#ffffff;
  height: 100vh;

}

#river-intro img{
  width:100%;
  height: 100vh;
}

#river-intro p{
  font-family: 'Lato', 'Helvetica' sans-serif;
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#river-intro .layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;

  /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#mobile-no-show {
  @media @mobile {
    display:none;
  }
}

#videoBG {
    position:fixed;
    z-index: -1;
/*not work if the screen ratio is below 16/9*/
    width:100%;
    height: auto;
}


@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width:auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    #river-intro {
        background: url('./assets/story-images/mobile-cover.jpg');
        background-size: cover;
    }
}


#river-intro #intro-text{
  position: absolute;
  width:100%;
  bottom:20px;
  left:50%;
  transform: translateX(-50%);
}

#river-intro #intro-text h1{
  font-family: "PeaceSans";
  // letter-spacing: 1px;
  font-size: 9em;
  margin:0;
  padding:0;
  line-height: .65em;
  color:#e1e1e1;
  animation-duration: 2.3s;
  animation-delay: 1s;
  @media @mobile {
    font-size: 3.2em;
  }
}

#river-intro #intro-text h2{
  font-family: "LatoThin";
  letter-spacing: 1px;
  font-size: 4.5em;
  margin: .2em 0 .3em 0;
  padding:0;
  animation-duration: 2.3s;
  animation-delay: 1s;
  @media @mobile {
    font-family: "LatoReg";
    font-size: 1.6em;
    margin: .5em 0 .5em 0;
    // text-shadow: 1px 1px #222222;
  }
}

#intro-about{
  background:#ffffff;
  padding:3.5em 0 14em 0;
  @media @mobile {
    padding:.3em 0 .3em 0;
  }
}

#intro-about p{
  font-family: 'NotoSerif-Reg';
  font-size: 1.4em;
  color: @goodriver-black;
  line-height: 1.35em;
  @media @mobile {
    margin-top: 2em;
    line-height: 1.35em;
  }
}

#intro-about a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: @goodriver-teal;
  text-decoration: none;
}

#intro-about a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234e83a3' stroke-width='2.25' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 3px;
  background-repeat: repeat-x;
  text-decoration: none;
  color: #000;
}

#carrot{
  @media @mobile {
    display: none;
  }
}


//////////////////////////////
//STORY LIST
//////////////////////////////

#story-list{
  margin-top:20em;
  @media @mobile {
    margin-top:20px;
  }
}

@media (min-width: 1700px) {
  #story-list{
    margin-top:25em;
  }

  #intro-about{
    padding:4em 0 18em 0;
  }
}

#story-list nav{
  font-family: "LatoReg";
  font-size: 1.5em;
  text-align: center;
  margin-bottom:2em;
}

#story-list nav a{
  text-decoration: none;
  margin:0 20px;
  padding-bottom:5px;
  color:#999999;
}

#story-list h2{
  font-size: 3em;
  color:#000000;
  font-family: "PeaceSans";
  text-align: center;
}

#story-list .row{
  margin-bottom:2em;
}

#story-list img{
  width:100%;
}

#story-list h3{
  font-family: "PeaceSans";
  font-size: 1.75em;
  margin-bottom: 0;
  @media @mobile {
    font-size: 1.4em;
  }
}

#story-list h3.media{
  //font-family: @sans;
  font-size: 1.5em;
  width:80%;
  margin: 0 auto;
  text-align: center;
}

#story-list h3.media a{
  color:#4E83A3;
}

#story-list h3 a{
  color:#000000;
  text-decoration: none;
}

#story-list .authors{
  font-family: "LatoBold";
  color:@goodriver-bright;
}

#story-list .org{
  font-family: "LatoBoldItalic";
  @media @mobile {
    padding-bottom: 1.3em !important;
  }
}

.row-less-margin {
  @media @mobile {
    margin-top: -1.5em;
  }
}
