#main-nav{
  font-family: "LatoReg";
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #202020;
  padding:5px;
  z-index: 1000;
}

#main-nav .logo{
  width:35px;
  margin:5px 20px 0 10px;
}

#main-nav .title{
  font-size: 1em;
  vertical-align: top;
  padding: 15px 0 15px 15px;
  border-left:#ffffff solid 1px;
}

#main-nav .title a{
  color:#ffffff;
  text-decoration: none;
}

div#title-logo div{
  display: inline-block;
}

#main-nav nav{
  padding:15px;
  text-align: right;
}

#main-nav nav a{
  color:#ffffff;
  text-decoration: none;
}

#main-nav nav span{
  padding-right:15px;
}

#main-nav a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

#main-nav a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234e83a3' stroke-width='2.25' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 3px;
  background-repeat: repeat-x;
  text-decoration: none;
}
