.section{
  position: relative;
  background-size: cover;
  text-align:center;
  overflow: hidden;
  line-height: 1.5;
}

// #section0{
//   background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(https://s3.amazonaws.com/ps-apps-assets/lww_shayla/Shayla_1094.jpg);
//   @media @mobile {
//     background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(https://s3.amazonaws.com/ps-apps-assets/lww_shayla/mobile_Shayla_1094.jpg);
//   }
// }

.slide{
  position: relative;
  background-size: cover;
}
