<!doctype html>
<html lang="en-US">
<head>
  <%= t.include("partials/_head.html", grunt.data.json) %>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <%= t.include("partials/_main_nav.html") %>
  <div id="fullpage">
    <div class="section" id="section0">
      <%= t.include("partials/_intro.html") %>
    </div>

    <div class="section" id="section1">
      <%= t.include("partials/_intro_about.html") %>
    </div>

    <div class="section" id="section2">
      <%= t.include("partials/_intro_map.html") %>
    </div>

    <div class="section fp-auto-height" id="section3">
      <%= t.include("partials/_story_list.html") %>
    </div>
    <div class="section fp-auto-height" id="section4">
      <%= t.include("partials/_footer.html") %>
    </div>
  </div>


  <script src="app.js" async></script>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>

  <%= t.include("partials/_analytics.html") %>
</body>
</html>
