<!doctype html>
<html lang="en-US">
<head>
  <%= t.include("partials/_head.html", grunt.data.json) %>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body id="homepage">

  <%= t.include("partials/_nav.html") %>

  <%= t.include("partials/_intro.html") %>

  <div class="section">
    <%= t.include("partials/_about.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2012.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2012cutout.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2013.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2013cutout.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2014.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2014cutout.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2015.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2016.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2016cutout.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2017.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2018.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2019.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2020.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2021.html") %>
  </div>

  <div class="section">
    <%= t.include("partials/_2022.html") %>
  </div>


  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="app.js" async></script>


  <%= t.include("partials/_analytics.html") %>
</body>
</html>